.stepper-container {
    @apply flex flex-nowrap justify-between items-center mt-16 w-full;
    overflow-x: hidden;
    /* Prevent scrolling */
}

.step-item {
    @apply relative flex flex-col justify-center items-center flex-grow;
    flex-basis: 0;
    min-width: 5rem;
    /* Smaller minimum width */
}

.step-item:not(:first-child):before {
    @apply content-[''] bg-slate-200 absolute h-[2px] top-1/2 -translate-y-1/2;
    left: -50%;
    /* Positioning the line correctly */
    width: 100%;
    /* Span full width between steps */
    z-index: -1;
}

.step-item:first-child:before {
    display: none;
    /* Hide the line for the first item */
}

.step {
    @apply w-8 h-8 flex items-center justify-center z-10 relative bg-slate-700 rounded-full font-semibold text-white;
}

.active .step {
    @apply bg-sky-600;
}

.complete .step {
    @apply bg-green-600;
}

.complete p {
    @apply text-green-500;
}

.complete:not(:first-child):before,
.active:not(:first-child):before {
    @apply bg-green-600;
}

.btn {
    @apply px-6 py-2 rounded-md font-semibold transition-colors duration-300;
}

.btn-previous {
    @apply bg-blue-400 hover:bg-blue-600 text-white;
}

.btn-next {
    @apply bg-emerald-400 hover:bg-emerald-600 text-white;
}

.btn-finish {
    @apply bg-green-500 hover:bg-green-600 text-white;
}
